# Node modules & dependencies (React Native)
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Expo & Metro cache
.expo/
.expo-shared/
metro-cache/

# Build artifacts (React Native)
android/app/build/
ios/Pods/
ios/build/

# Rust target directory
target/

# Cargo lock file
Cargo.lock

# Debugging & logs
*.log
*.rs.bk

# System files
.DS_Store


#ENV FIle
.env